@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);

body{
  background: url("../img/bg-body.jpg") repeat;
}

.lista-link-midias li{
  float: left;
  margin: 20px 20px 0px 0px;
}

.lista-link-midias li a{
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  width: 28px;
  height: 22px;
}

.ico-facebook{
  background: url("../img/sprite-midias.png") 0px 0px no-repeat;
}

.ico-facebook:hover{
  transition:all linear 0.3s;
  background: url("../img/sprite-midias.png") 0px -31px no-repeat;
}

.ico-twitter{
  background: url("../img/sprite-midias.png") -27px 0px no-repeat;
}

.ico-twitter:hover{
  transition:all linear 0.3s;
  background: url("../img/sprite-midias.png") -27px -31px no-repeat;
}

.box-menu{
  background: #262626;
  margin-top: 10px;
}

.menu-nav{
  padding: 0;
  margin: 0;
  width: 360px;
}

.menu-nav li{
  float: left;
  margin: 15px 25px;
}

.menu-nav li a{
  display: block;
  overflow: hidden;
  font-family: 'Archivo Narrow', sans-serif;
  color: #fff;
  font-size: 15px;
}

.menu-nav li a:hover{
  transition:all linear 0.2s;
  color: #ff780c;
  text-decoration: none;
}

.dropdown-menu{
  background: #ff780c !important;
  padding: 10px;  
}

.dropdown-menu li{
  margin: 0;
  width: 100%;
}

.dropdown-menu li a:hover{
  background: #262626;
  color: #fff;
}

.logo{
  width: 171px;
  height: 205px;
  text-indent: -9999px;
  background: url("../img/varzeapedia.png") no-repeat;
  position: absolute;
  left: 550px;
  top: 20px;
}

.group-search{
  background: #fff;
  overflow: hidden;
  margin: 50px 0px 40px 0;
}

.input-search{
  border: 0px;
  margin: 5px 0px;
  font-family: 'Archivo Narrow', sans-serif;
  outline: none;
}

.btn-search{
  background: none;
  border: 0px;
  margin-top: 5px;
  outline: none;
}

.lista-destaques{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.lista-destaques li{
  float: left;
  margin: 10px;
  width: 350px;
  overflow: hidden;
}

.lista-destaques li div{
  background: #fff;
  padding: 10px;
}

.lista-destaques li div img{
  display: block;
  width: 330px;
}

.lista-destaques li div p{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 18px;
  margin-top: 5px;
}

.lista-destaques li div a, .lista-post li a, .lista-galerias li a{
  display: block;
  overflow: hidden;
  background: #ff780c;
  color: #fff;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 5px 0;
  border-bottom:2px solid #D7650A;
}

.lista-destaques li div a:hover, .lista-post li a:hover{
  transition:all linear 0.2s;
  background: #262626;
  border-bottom:2px solid #000;
  text-decoration: none;
  color: #ff780c;
}

.lista-depoimentos{
  margin: 50px 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.lista-depoimentos li div img{
  display: block;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 99px;
  float: left;
  border:3px solid #fff;
  margin-top: 25px;
}

.lista-depoimentos li div p{
  background: url("../img/bg-depoimento.png") center no-repeat;
  float: right;
  width: 420px;
  padding: 46px 0px 0px 0px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 16px;
}

.lista-depoimentos li div span{
  display: block;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 13px;
  text-align: right;
  float: right;
  width: 100%;
}

.fb-like-box{
  background: #fff;
}

.box-rodape{
  margin-top: 50px;
  background: #262626;
  padding: 10px 0px;
}

.box-rodape span{
  font-size: 12px;
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 8px;
}

.box-rodape a{
  display: block;
  float: right;
}

.breadcrumb{
  background: none;
  margin: 0;
  margin-top: -20px;
  padding: 5px;
}

.breadcrumb li a, .breadcrumb>li+li:before{
  font-size: 12px;
  color: #000;
}

.breadcrumb .active{
  color: #ff780c;
}

.box-titulo-pagina{
  background: #ffeddf;
  border: 1px solid #f5d1b3;
  padding: 20px;
  overflow: hidden;
}

.box-titulo-pagina h1{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 35px;
  margin: 0;
  margin-bottom: 20px;
}

.box-titulo-pagina span{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 14px;
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
}

.box-conteudo-pagina{
  background: #fff;
  border: 1px solid #f5d1b3;
  padding: 10px;
}

.box-conteudo-pagina img{
  margin-bottom: 10px;
}

.box-conteudo-pagina h2, .box-conteudo-pagina h3, .box-conteudo-pagina h4, .box-conteudo-pagina h5, .box-conteudo-pagina h6{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 28px;
}

.box-form{
  background: #ffeddf;
  padding: 10px;
}

.box-form textarea{
  height: 60px;
}

.box-bg-contato{
  margin-left: 35px;
}

.btn-enviar{
  display: block;
  overflow: hidden;
  border: 0;
  background: #ff780c;
  color: #fff;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 5px 0;
  border-bottom:2px solid #D7650A;
}

.btn-enviar:hover{
  transition:all linear 0.2s;
  background: #262626;
  border-bottom:2px solid #000;
  text-decoration: none;
  color: #ff780c;
}

.lista-foto, .lista-radio{
  list-style: none;
  margin: 0;
  padding: 0;
}

.lista-foto li, .lista-radio li{
  margin: 20px 0px;
}

.lista-foto li img{
  display: block;
  width: 238px;
}

.box-comments-post{
  margin-top: 30px;
}

.sidebar h6{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 23px;
  margin: 0 0 10px 0;
}

.lista-leia-tbm{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lista-leia-tbm li{
  margin-bottom: 5px;
}

.lista-leia-tbm li a{
  display: block;
  overflow: hidden;
  background: #fff;
  padding: 5px 8px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 15px;
  color: #333;
}

.lista-leia-tbm li a:hover{
  background: #333;
  color: #FF780C;
  text-decoration: none;
  transition: all linear 0.2s;
}

.listagem-item{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listagem-item li{
  margin-bottom: 10px;
}

.listagem-item li a{
  display: block;
  overflow: hidden;
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 15px;
  padding: 5px 8px;
  background: #FFEDDF;
}

.listagem-item li a:hover{
  background: #333;
  color: #FF780C;
  text-decoration: none;
  transition: all linear 0.2s;
}

.lista-post, .lista-galerias{
  list-style: none;
  margin: 0;
  padding: 0;
}

.lista-post li, .lista-galerias li{
  background: #fff;
  border: 1px solid #efbe95;
  padding: 5px;
  margin:0 80px 80px 0px; 
  position: relative;
}

.lista-post li img, .lista-galerias li img{
  display: block;
  overflow: hidden;
  width: 255px;
}

.lista-post li h2, .lista-galerias li h2{
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  margin: 15px 0;
  padding: 0;
}

.lista-galerias li:before{
  content: " ";
  display: block;
  overflow: hidden;
  width: 255px;
  height: 128px;
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
}

.lista-galerias li:after{
  content: " ";
  display: block;
  overflow: hidden;
  width: 102px;
  height: 102px;
  position: absolute;
  top: 18px;
  left: 80px;
}

.item-galeria-foto:after{
  background: url("../img/ico-galeria-foto.png") no-repeat;
}

.item-galeria-video:after{
  background: url("../img/ico-galeria-video.png") no-repeat;
}

.item-galeria-radio:after{
  background: url("../img/ico-galeria-radio.png") no-repeat;
}

.lista-resultado{
  list-style: none;
  margin: 0;
  padding: 0;
}

.lista-resultado li{
  margin-bottom: 30px;
  padding: 0 30px;
}

.lista-resultado li h2 a{
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 30px;
}

.lista-resultado li:hover h2 a{
  color: #ff780c;
  text-decoration: none;
  transition: all linear 0.1s;
}

.lista-resultado li p a{
  color: #333;
}

.lista-resultado li:hover p a{
  text-decoration: none;
}

.pagination{
  float: right;
}

.pagination>li>a, .pagination>li>span{
  color: #333;
  background: #FFEDDF;
  border:1px solid #F5D1B3;
}

.pagination>li>a:hover, .pagination>li>span:hover{
  background: #333;
  color: #FF780C;
  border: 1px solid #333;
  transition: all linear 0.2s;
}

.pagination li a span{
  margin-bottom: 0px;
}

.pagination .active{
  background: #333;
  color: #FF780C;
  border: 1px solid #333;
}