@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);

body{
  background: #f7f7f7;
  color: #383736;
}

html{
  margin-top: 0 !important;
}

.lista-link-midias{
  position: absolute;
  top: 0px;
  right: 10px;
}

.lista-link-midias li{
  float: left;
  margin: 20px 7px 0px 0px;
}

.lista-link-midias li a{
  display: block;
  overflow: hidden;
  font-size: 30px;
  margin: 0 5px;
}

.lista-link-midias li a span{
  background: #fff;
  padding: 2px 4px;
}

.lista-link-midias li a:hover{
  transition:all linear 0.3s;
}

.ico-facebook{
  color: #3B5999;
}

.ico-twitter{
  color: #55ACEF;
}

.ico-instagram{
  color: #004879;
}

.ico-facebook:hover, .ico-twitter:hover, .ico-instagram:hover{
  color: #F5862F;
}

.bg-menu{
  background: #383736;
  margin-bottom: 50px;
}

.menu-nav{
  padding: 0;
  margin: 0;
  width: 920px;
}

.menu-nav li{
  float: left;
  margin: 15px 58px 15px 0px;
}

.menu-nav li a{
  display: block;
  overflow: hidden;
  font-family: 'Archivo Narrow', sans-serif;
  color: #fff;
  font-size: 15px;
}

.menu-nav li a:hover{
  transition:all linear 0.2s;
  color: #F5862F;
  text-decoration: none;
}

.dropdown-menu{
  background: #F5862F !important;
  padding: 10px;
}

.dropdown-menu li{
  margin: 0;
  width: 100%;
}

.dropdown-menu li a:hover{
  background: #262626;
  color: #fff;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus{background:#333;}

.topo-background{
  background:url('../img/bg-topo.jpg') bottom center repeat;
}

.logo{
  display: block;
  overflow: hidden;
  width: 222px;
  height: 261px;
  text-indent: -9999px;
  margin: 10px auto;
}

.logo img{
  display: block;
  width: 220px;
}

#logo-index{
  margin: 96px auto !important;
}

.form-search{
  width: 190px;
}

.group-search{
  overflow: hidden;
  margin: 9px 0px 0px 0;
}

.input-search{
  border: 0px;
  margin: 5px 0px;
  font-family: 'Archivo Narrow', sans-serif;
  outline: none;
  color:#909090;
  background:none;
  font-size:15px;
}

.input-search::-webkit-input-placeholder {
   color: #626262;
}

.input-search:-moz-placeholder {
   color: #626262;
}

.input-search::-moz-placeholder {
   color: #626262;
}

.input-search:-ms-input-placeholder {
   color: #626262;
}

.btn-search{
  background: none;
  border: 0px;
  margin-top: 5px;
  outline: none;
}

.btn-search span{
  color:#626262;
}

.lista-destaques{
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.lista-destaques li{
  float: left;
  margin-top: 40px;
  overflow: hidden;
}

.lista-destaques li div{
  border: 1px solid #eaeaea;
  background: #fff;
  position: relative;
}

.lista-destaques li div i{
  display: block;
  overflow: hidden;
  padding: 2px 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  text-align: center;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 12px;
  font-style: normal;
  border-radius: 3px;
  letter-spacing: 0.5px;
}

.bullet-equipes{
  background: #B63B3B;
}

.bullet-noticias{
  background: #55B63B;
}

.bullet-campeonatos{
  background: #006EFF;
}

.bullet-campos{
  background: #FF8800;
}

.lista-destaques li div img{
  display: block;
  width: 100%;
}

.lista-destaques li div h2{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  margin: 20px 0px 0;
  padding: 0 10px;
}

.lista-destaques li div p{
  font-size: 13px !important;
  color: #c0c0c0;
  overflow: hidden;
  max-width: 100%;
  max-height: 93px;
  padding: 0 10px;
  word-break: break-word;
}

.lista-destaques li div a, .lista-post li a{
  display: block;
  overflow: hidden;
  border-top: 1px solid #eaeaea;
  color: #9E9E9E;
  font-family: 'Archivo Narrow', sans-serif;
  text-align: center;
  padding: 8px 0;
  width: 100%;
  margin: 0 auto;
}

.lista-destaques li div a:hover, .lista-post li a:hover{
  transition:all linear 0.2s;
  text-decoration: none;
  color: #F5862F;
}

.bg-depoimentos{background: #fff;padding: 80px 0;margin-top: 100px;}

.bg-depoimentos h3, .twitter-post h4, .facebook-post h4{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 60px;
  color: #c3c3c3;
  text-align: center;
  margin-bottom: 70px;
  text-transform: uppercase;

}

.lista-depoimentos{
  padding: 0;
  list-style: none;
  overflow: hidden;
  width: 520px;
  margin: 0 auto 70px auto;
}

.lista-depoimentos li div img{
  display: block;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: 99px;
  margin: 0 auto;
}

.lista-depoimentos li div p{
  padding: 30px 0px 0px 0px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 16px;
  color: #939393;
}

.lista-depoimentos li div span{
  display: block;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 13px;
  text-align: center;
  color: #F5862F;
}

.facebook-post{
  padding: 100px 0;
}

.twitter-post{
  padding: 100px 0;
  background: #fff;
}

.fb-like-box{
  background: #fff;
  width: 520px;
  margin: 0 auto;
  display: block !important;
}

.twitter-post-widget{
  width: 520px;
  margin: 0 auto;
}

.box-rodape{
  background: #383736;
  padding: 10px 0px;
}

.box-rodape span{
  font-size: 12px;
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 8px;
}

.box-rodape a{
  display: block;
  float: right;
}

.breadcrumb{
  background: none;
  margin: 0;
  margin-top: -20px;
  padding: 5px;
}

.breadcrumb li a, .breadcrumb>li+li:before{
  font-size: 10px;
  color: #bbb;
}

.breadcrumb .active{
  color: #717171;
  font-size: 12px;
}

.box-titulo-pagina{
  overflow: hidden;
}

.box-titulo-pagina h1{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 60px;
  margin: 0;
  margin-bottom: 30px;
  line-height: 57px;
}

.box-titulo-pagina span{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 14px;
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
}

.box-conteudo-pagina{
  background: #fff;
  padding: 30px;
}

.box-conteudo-pagina a{
  color: #F5862F;
  font-weight: 900;
}

.galeria-videos-page{
  background: #f4f4f4 !important;
}

.box-conteudo-pagina img{
  margin: 10px;
  border: 2px solid #ccc;
}

.box-conteudo-pagina h2, .box-conteudo-pagina h3, .box-conteudo-pagina h4, .box-conteudo-pagina h5, .box-conteudo-pagina h6{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 28px;
}

.box-conteudo-pagina p{
  line-height: 21px;
}

.box-conteudo-contato{
  background: url('../img/bg-contato.jpg') top center no-repeat;
}

.box-conteudo-contato h1{
  border-left: 0;
}

.box-form{
  color: #fff;
  padding: 30px 10px;
  width: 400px;
  margin: 0 0 0 550px;
}

.box-form h1{
  text-align: center;
  margin: 10px 0 30px;
  font-size: 50px;
}

.box-form input, .box-form input:focus{
  background: none;
  border:0;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  box-shadow:0px 0px 0px;
  color: #fff;
  font-size: 20px;
  padding: 0;
}

.box-form textarea, .box-form textarea:focus{
  height: 80px;
  background: none;
  border:0;
  border-bottom:1px solid #fff;
  border-radius: 0px;
  box-shadow:0px 0px 0px;
  color: #fff;
  font-size: 20px;
  padding: 0;
}

.box-bg-contato{
  margin-left: 35px;
}

.btn-enviar {
  display: block;
  overflow: hidden;
  border: 0;
  border-radius: 5px;
  color: #F5862F !important;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 25px;
  width: 380px !important;
  margin: 15px auto !important;
  text-align: center;
  padding: 7px 0 !important;
  border:2px solid #333 !important;
  background: #333 !important;
}

.btn-enviar:hover{
  transition:all linear 0.2s;
  font-size: 25px;
}

.lista-foto, .lista-radio{
  list-style: none;
  margin: 0;
  padding: 0;
}

.lista-foto li, .lista-radio li{
  margin: 20px 0px;
}

.lista-foto li img{
  display: block;
  width: 238px;
}

.lista-video, .lista-midia{
  list-style: none;
  overflow: hidden;
  margin: 38px 38px 38px 0px;
}

.lista-video li{
  width: 219px;
  height: 300px;
  margin: 0 20px 30px 0;
}

.lista-midia li{
  width: 720px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.lista-midia li:last-child{
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.lista-video li a:hover, .lista-midia li a:hover{
  text-decoration: none;
}

.lista-video li img{
  display: block;
  width: 220px;
  border:0;
  margin: 0;
}

.lista-midia li img{
  display: block;
  float: none;
  width: 720px;
  border: 0;
}

.lista-video li h2{
  color: #333;
  font-size: 15px;
  font-weight: bold;
  line-height: 17px;
}

.lista-midia li h2{
  display: none;
}

.lista-midia li p{
  color: #ccc;
  font-size: 12px;
  line-height: 14px;
  height: 30px;
  overflow: hidden;
}

.lista-video li p{
  font-size: 12px;
  color: #b9b9b9;
}

.lista-video li a{
  display: block;
  overflow: hidden;
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 15px;
  padding: 8px 0;
}

.lista-midia li:hover img{
  background:#F5862F;
  opacity: 0.4;
  transition:all linear 0.2s;
}

.lista-midia li a, .lista-midia li a span{
  display: none;
}

.lista-midia li:hover a{
  display: block;
  width: 370px;
  padding: 10px 0;
  border-radius: 5px;
  position: absolute;
  top: 160px;
  right: 160px;
  font-size: 30px;
  color: #F5862F;
  text-align: center;
  background: #383736;
  font-family: 'Archivo Narrow', sans-serif;
}

.box-comments-post{
  margin-top: 30px;
}

.sidebar{
  margin-top: 100px;
}

.sidebar h6{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 18px;
  margin: 0 0 10px 0;
  color: #333;
  border-left: 3px solid #F5862F;
  padding-left: 10px;
}

.lista-leia-tbm{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lista-leia-tbm li{
  margin-bottom: 15px;
}

.lista-leia-tbm li a{
  display: block;
  overflow: hidden;
  padding: 5px 0px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  color: #838383;
  border-bottom: 1px solid #E4E4E4;
  line-height: 24px;
}

.lista-leia-tbm li a:hover{
  border-left: 8px solid #F5862F;
  border-bottom: 0;
  color: #333;
  padding-left: 10px;
  text-decoration: none;
  transition: all linear 0.3s;
}

.listagem-item{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listagem-item li{
  margin-bottom: 10px;
}

.listagem-item li a{
  display: block;
  overflow: hidden;
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  line-height: 15px;
  padding: 5px 8px;
  border-left: 3px solid #ccc;
  padding-left: 10px;
}

.listagem-item li a:hover{
  text-decoration: none;
  transition: all linear 0.2s;
  border-left: 8px solid #F5862F;
}

.lista-post{
  list-style: none;
  margin: 0;
  padding: 0;
}

.lista-post li{

  padding: 5px;
  margin:0 80px 80px 0px;
  position: relative;
}

.lista-post li img{
  display: block;
  overflow: hidden;
  width: 255px;
}

.lista-post li h2{
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  margin: 15px 0;
  padding: 0;
}

.lista-galerias{
  list-style: none;
  margin: 80px 0;
  overflow: hidden;
}

.lista-galerias li{
  width: 255px;
  height: 360px;
  margin: 0 37px;
  position: relative;
}

.lista-galerias li img{
  display: block;
  overflow: hidden;
  width: 255px;
  height: 360px;
}

.lista-galerias li h2{
  display: none;
}

.lista-galerias li a{
  display: block;
  overflow: hidden;
  width: 90px;
  padding: 5px 0;
  border:2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-family: 'Archivo Narrow', sans-serif;
  text-align: center;
  position: absolute;
  top: 110px;
  left: 90px;
}

.lista-galerias li a:hover{
  transition: all linear 0.2s;
  background: #333;
  border:2px solid #333;
  color: #FF780C;
  text-decoration: none;
}

.lista-resultado{
  list-style: none;
  margin: 0;
  padding: 0;
}

.lista-resultado li{
  margin-bottom: 30px;
  padding: 0 30px;
}

.lista-resultado li h2 a{
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 30px;
}

.lista-resultado li:hover h2 a{
  color: #ff780c;
  text-decoration: none;
  transition: all linear 0.1s;
}

.lista-resultado li p a{
  color: #333;
}

.lista-resultado li:hover p a{
  text-decoration: none;
}

.pagination{
  float: right;
}

.pagination>li>a, .pagination>li>span{
  color: #333;
  background: #E7DBD2;
  border:1px solid #E7DBD2;
  margin: 0 5px;
}

.pagination>li>a:hover, .pagination>li>span:hover{
  background: #333;
  color: #FF780C;
  border: 1px solid #333;
  transition: all linear 0.2s;
}

.pagination li a span{
  margin-bottom: 0px;
}

.pagination .current{
  background: #333;
  color: #FF780C;
  border: 1px solid #333;
}

.wp-caption{
  float: left;
  margin-right: 20px;
  margin-bottom:20px;
  background-color: #EDECEC;
  text-align: center;
  padding-top: 5px;
}

.wp-caption img{
  margin: 0;
  border: 0;
}

.wp-caption-text{
  margin-top: 11px;
  font-style: italic;
}

.row {
    margin-right: 0px!important;
    margin-left: 0px!important;
}

.midias-footer{
  display: inline-block;
  margin: 0 5px;
}

.midias-footer span{
  font-size: 25px;
}

.midias-footer:hover, .midias-footer:hover span{
  text-decoration: none;
  color: #F5862F;
}
